<%- include("partials/header.ejs") %>

    <div class="body">
        <div class="randomBookContainer">
        <% if (locals.title) { %>
            <div class="bookDetails">
            
                    <p class="bookTitle"><%= title %> </p>
                    <p class="bookAuthor">By <%= author %></p>
                    <p class="bookDescription"><%= description %></p>
            </div>
            <div class="bookPicture">
                <img src=<%= image %>>
            </div>     
            <div class="buyingLink">
                <p>Where to buy it: <a href="<%= buy %>"><%= buy %></a></p>
            </div>
            <% } else { %>
                <div class="empty">
                    <p>Click on the button to find your next great reading!</p>
                </div>
            
            <% }  %>
        </div>
    </div>      
    
</body>
</html>