<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Reading Suggestion</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Random Reading Suggestions</h1>
    <p class="subtitle">This random book selector will suggest your perfect read from the New York Times' Best Seller book lists.</p>
    
    
    <div class="randomBookContainer">
        <div class="bookSelector">
        <h2>Select the type of book</h2>
        <div class=" buttons">
            <% for (i=0; i<currentLists.length ; i++) { %>
                <button class="button" id="button<%=[i]%>"><a href="/randomBookTitle"><%= currentLists[i] %></a></button>
                <%# $(`#button${i}`).on("click", function (){ %>
                <%# alert (`#button${i} was clicked`) %>   
                <%# }) %>   
            <% } %> 
        </div>
                
        </div>
        <div class="bookDetails">
            <% if (locals.title) { %>
            <h3 class="bookTitle"><%= title %></h3>
            <h4 class="bookAuth"><%= author %></h4>
            <p class="bookDescription"><%= description %></p>
        </div>
        <div class="bookPicture">
            <img src=<%= image %>>
        </div>
     
        <% } else { %>
            <h3>An awesome title is coming up!</h3>
        <% } %>
    </div>
</body>
</html>