<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Reading Suggestion</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Random Reading Suggestions</h1>
    <p class="subtitle">This random book selector will suggest your perfect read from the New York Times' Best Seller book lists.</p>
    
    
    <div class="randomBookContainer">
        <div class="bookSelector">
        <h2>Select the type of book</h2>
        <div class=" buttons">

            <form action="/randomBookTitle" method="post">
                <label for="lists">Select a BestSelling List</label>
                <select id="lists" name="lists">

                    <% for (i=0; i<currentLists.length ; i++) { %>
                        <option value="<%=encodedNames[i] %>"><%= currentLists[i] %></option>
                <!-- <input  name="button" type="submit" value="<%=encodedNames[i] %>" class="button" id="button<%=[i]%>"><%= currentLists[i] %></input>  -->
                    <% } %> 
                </select>  
                <button type="submit">Find a book!</button>
            </form>
            
        </div>                
        </div>
        <div class="bookDetails">
            <% if (locals.title) { %>
            <h3 class="bookTitle"><%= title %></h3>
            <h4 class="bookAuth"><%= author %></h4>
            <p class="bookDescription"><%= description %></p>
        </div>
        <div class="bookPicture">
            <img src=<%= image %>>
        </div>
     
        <% } else { %>
            <h3>An awesome title is coming up!</h3>
        <% } %>
    </div>
<script>
    console.log("inner script")
</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
   <script src="./functions.js"></script>
</body>
</html>